# Your the bot token
BOT_API_TOKEN=1234567890:ABCdefGHIjklMNOpqrsTUVwxyz123456789

# Doc -> https://developers.sber.ru/docs/ru/gigachain/tools/js/gigachat#parametry-obekta-giga-chat
GIGACHAT_CREDENTIALS=QWER5REFG34QDfFERfesf671236gjuhgwegfg78734287YAEYUWRYGFUYWGEUGHJ12341234214OWIERHYOWIEUikghfjklsdg==
GIGACHAT_SCOPE=GIGACHAT_API_PERS
